* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
}

.conteiner {
    max-width: 80%;
    margin: 0 auto;
}

/* Стилизация шапки и меню */

.header {
    height: 75px;
    border-bottom: 1px solid #eaeaea;
}

.header .logo {
    padding: 20px 0 0 20px;
    float: left;
}

.header .logo h1 {
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    padding-left: 3px;
    background-position: left;
    font-size: 1.9em;
}
.header .logo h1 span {
    color: #fff;
}

.header .menu {
    float: right;
    margin-top: 27px;
}

.header .menu li {
    font-size: 1.2em;
    font-weight: 700;
    font-family: "Times New Roman", sans-serif;
    list-style: none;
    float: left;
    padding: 5px 10px;
}

.header .menu li a {
    color: #110D1B;
    text-decoration: none;
}

.header .menu li a:hover {
    color: #600CAC;
}

.header .menu li a:active {
    color: #8E41D5;
}

/* #/ Стилизация шапки и меню */

/* Стилизация страниц товаров */

.product .header-name {
    margin: 20px 0 20px 20px;
}

.product h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
    margin: 20px 0;
    padding-left: 20px;
}

div.photo {
    float: left;
}

.photo .photo-full {
    display: block;
    margin: 0 20px 20px 20px;
    padding: 2px;
    outline: 1px solid blue;
}

.photo .photo-full:hover {
    outline: none;
}

.photo .photo-mini {
    max-width: 200px;
    margin-bottom: 20px;
    padding: 2px;
    outline: 1px solid blue;
    margin-left: 20px;
}

.photo .photo-mini:hover {
    outline: none;
}

.button-buy {
    max-width: 250px;
    margin: 20px auto;
    clear: both;
}

.button-buy input {
    font-size: 1.5em;
    font-family: "Times New Roman";
    padding: 10px 88px;
    border-radius: 20px;
    background: #38DF64;
    
}

.button-buy input:hover {
    background: #4AE83A;
}

.button-buy input:active {
    background: #64DF85;
    border: 2px solid transparent;
}

.button-buy input:focus {
    outline: none;
}

.header-description {
    overflow: hidden;
}

.header-TechnicalParameters {
    clear: both;
}

.productImg-full {
    outline: 2px dotted blue;
}

.productImg-full:hover {
    outline: none;
}

.description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailedProductDescription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.description:first-letter, .detailedProductDescription:first-letter {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
} 

.product .TechnicalParameters {
    text-align: center;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
}

.product .TechnicalParameters tr td {
    width: 150px;
    border: 1px solid #ccc;
}

.product .TechnicalParameters tr:first-child td {
    height: 25px;
    font-weight: 700;
}

.characteresProductum {
    margin: 20px;
}

.characteresProductum > li {
    list-style-image: url(./img/ul.jpg);
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin: 10px 0;
}

.characteresProductum > ul > li {
    list-style-image: url(./img/li.jpg);
    font-family: "Times New Roman";
    font-size: 1.2em;
    margin-left: 20px;
}

.characteresProductum > ul > li i {
    color: blue;
}

/* #/ Стилизация страниц товаров */

/* Стилизация страницы контактов */

.input_text, .input_email, .input_message {
    width: 300px;
    height: 25px;
    font-size: 1em;
    color: #110D1B;
}

.input_text {
    text-transform: capitalize;
}

.input_message {
    height: 80px;
    font-size: 1.3em;
}

form .button {
    width: 151px;
    font-size: 15px;
}

.input_email:focus {
    color: blue;
    background: #ccc;
}

/* #/ Стилизация страницы контактов */

/* Стилизация footer */

.footer {
    height: 50px;
    background: #ccc;
    margin-top: 20px;
}

.footer p {
    float: right;
    margin: 16px 16px 0 0;
}

/* #/ Стилизация footer */