* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    font-family: "Times New Roman", sans-serif;;
}

.conteiner {
    max-width: 80%;
    margin: 0 auto;
}

.home .conteiner > p.welcome {
    margin: 20px;
}

/* Стилизация шапки и меню */

.header {
    height: 75px;
    border-bottom: 1px solid #eaeaea;
}

.header .logo {
    padding: 20px 0 0 20px;
    float: left;
}

.header .logo a {
    text-decoration: none;
    color: black;
}

.header .logo h1 {
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    padding-left: 3px;
    background-position: left;
    font-size: 1.9em;
}
.header .logo h1 span {
    color: #fff;
}

.header .menu {
    float: right;
    margin-top: 27px;
}

.header .menu li {
    font-size: 1.2em;
    font-weight: 700;
    list-style: none;
    float: left;
    padding: 5px 10px;
}

.header .menu li a {
    color: #110D1B;
    text-decoration: none;
}

.header .menu li a:hover {
    color: #600CAC;
}

.header .menu li a:active {
    color: #8E41D5;
}

/* #/ Стилизация шапки и меню */

/* Стилизация страницы Каталога */

.catalog-product {
    float: left;
    max-width: 200px;
    text-align: center;
    margin: 20px 10px;
    text-decoration: none;
    color: black;
}

.catalog-product:hover {
    color: blueviolet;
}

.catalog-product img {
    max-width: 200px;
}

/* #/ Стилизация страницы Каталога */

/* Стилизация страниц товаров */

.header-name {
    margin: 20px;
}

.product h3 {

    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
    margin: 20px 0;
    padding-left: 20px;
}

div.photo {
    float: left;
}

.photo .photo-full {
    display: block;
    margin: 0 20px 20px 20px;
    padding: 2px;
    outline: 1px solid blue;
}

.photo .photo-full:hover {
    outline: none;
}

.photo .photo-mini {
    max-width: 200px;
    margin-bottom: 20px;
    padding: 2px;
    outline: 1px solid blue;
    margin-left: 20px;
}

.photo .photo-mini:hover {
    outline: none;
}

.button-buy {
    max-width: 260px;
    margin: 20px auto;

}

.button-buy input {
    font-size: 1.5em;
    padding: 10px 88px;
    border-radius: 20px;
    background: #38DF64;
    border: none;
    font-weight: 700;
    
}

.button-buy input:hover {
    background: #4AE83A;
}

.button-buy input:active {
    background: #64DF85;
}

.button-buy input:focus {
    outline: none;
}

.header-description {
    overflow: hidden;
}


.productImg-full {
    outline: 2px dotted blue;
}

.productImg-full:hover {
    outline: none;
}

.description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    overflow: hidden;
}

.detailedProductDescription {
    color: #484343;
    line-height: 24px;
}

.description:first-letter, .detailedProductDescription:first-letter {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
} 

.product .TechnicalParameters {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

.product .TechnicalParameters tr td {
    width: 150px;
    border: 1px solid #ccc;
}

.product .TechnicalParameters tr:first-child td {
    height: 25px;
    font-weight: 700;
}

.characteresProductum {
    margin: 20px;
}

.characteresProductum > li {
    list-style-image: url(./img/ul.jpg);
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin: 10px 0;
}

.characteresProductum > ul > li {
    list-style-image: url(./img/li.jpg);
    font-size: 1.2em;
    margin-left: 20px;
}

.characteresProductum > ul > li i {
    color: blue;
}

/* #/ Стилизация страниц товаров */

/* Стилизация страницы контактов */

.header-contact {
    margin: 20px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em
}

.contacts form.writeToUs {
    max-width: 330px;
    text-align: center;
    margin: 0 auto;
}

.contacts form.writeToUs fieldset {
    border-radius: 20px;
    padding: 10px;
}

.contacts form.writeToUs fieldset p {
    text-align: left;
    margin: 5px 0 2px 2px;
}

.input_text, .input_email, .input_message {
    width: 300px;
    height: 25px;
    font-size: 1em;
    color: #110D1B;
    border: none;
    outline: none;
    padding: 0 10px;
}
.input_text:focus, .input_email:focus, .input_message:focus {
    color: blue;
    background: #ccc;
}

input.capitalize {
    text-transform: capitalize;
}

.input_message {
    height: 80px;
    font-size: 1.3em;
    resize: none;
}

form.writeToUs .button {
    width: 151px;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px 0;
    border-radius: 10px;
    outline: none;
    border: none;
}

form.writeToUs .push {
    background: #74E868;
}

form.writeToUs .push:hover {
    background: #4AE83A;
}

form.writeToUs .push:active {
    background: #0D8800;
}

form.writeToUs .reset {
    background: #FF7373;
}

form.writeToUs .reset:hover {
    background: #FF4040;
}

form.writeToUs .reset:active {
    background: #A60000;
}

.our-contacts {
    margin: 20px;
    font-size: 1.5em;
}

.our-contacts-tel, .our-contacts-home, .our-contacts-email, .our-contacts-time {
    margin: 10px 20px;
    font-size: 1.2em;
}

.our-contacts-tel a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.our-contacts-tel a:hover {
    color: blueviolet;
}

.our-contacts-email a {
    text-decoration: none;
    color: black;
}

.our-contacts-time span {
    font-weight: 700;
}

.our-contacts-email a:hover {
    color: blueviolet;
}

.maps {
    width: 100%;
    height: 374px;
}
/* #/ Стилизация страницы контактов */

/* Стилизация footer */

.footer {
    height: 50px;
    background: #ccc;
    margin-top: 20px;
    clear: both;
}

.contacts > .footer {
    margin-top: 0;
}

.footer p {
    float: right;
    margin: 16px 16px 0 0;
}

/* #/ Стилизация footer */